<html>
<head>
	<title>Jeweler</title>
	<link rel="stylesheet" type="text/css" href="/static/css/all.css">
</head>
<body>
	<div class="wrapper">
		<ul class="main_menu">
		<li><a href="/" {% block index_class %}{% endblock %}>Главная</a></li>
		<li><a href="/rings/" {% block rings_class %}{% endblock %}>Кольца</a></li>
		<li><a href="/earrings/" {% block earrings_class %}{% endblock %}>Серьги</a></li>
		<li><a href="/pendants/" {% block pendants_class %}{% endblock %}>Подвесы</a></li>
		</ul>
		<div class="container">
		<div class="sidebar">
			<ul>
				<li><a href="/" {% block index_class_ %}{% endblock %}>Home</a></li>
				<li><a href="/rings/" {% block rings_class_ %}{% endblock %}>Rings</a></li>
				<li><a href="/earrings/" {% block earrings_class_ %}{% endblock %}>Earrings</a></li>
				<li><a href="/pendants/" {% block pendants_class_ %}{% endblock %}>Pendants</a></li>
			</ul>
		</div>
			<div class="content">
				{% block content %}

				{% endblock content %}
			</div>
		</div>
	</div>
</body>
</html>