<html>
<head>
	<title>Jeweler</title>
	<link rel="stylesheet" type="text/css" href="/static/css/all.css">
</head>
<body>
	<div class="wrapper">
		<ul class="main_menu">
		<li><a href="{% url 'index' %}" {% block index_class %}{% endblock %}>Главная</a></li>
		<li><a href="{% url 'rings' %}" {% block rings_class %}{% endblock %}>Кольца</a></li>
		<li><a href="{% url 'earrings' %}" {% block earrings_class %}{% endblock %}>Серьги</a></li>
		<li><a href="{% url 'pendants' %}" {% block pendants_class %}{% endblock %}>Подвесы</a></li>
		{% if user.is_authenticated %}
		<li><a href="{% url 'employees_list' %}"{% block employee_list_class %}{% endblock %}>Список сотрудников</a></li>
		{% endif %}
		{% if user.is_superuser %}
		<li><a href="{% url 'employees_group_view'%}"{% block employee_class %}{% endblock %}>Категория сотрудников</a></li>
		<li><a href="{% url 'create' %}"{% block employee_create_class %}{% endblock %}>Create</a></li>
		{% endif %}
			<div class="right">
				<a href="{% url 'feedback' %}">Feedback</a>
				{% if user.is_superuser%}
				<a href="{% url 'admin:index'%}">Админка</a>
				{% endif %}
				<a href="">{% if user.is_authenticated %} {{ user }} {% endif %}</a>
				<a href="{% url 'login_view' %}"{% block enter_class %}{% endblock %}>Вход</a>
				{% if user.is_authenticated %}
				<a href="{% url 'logout' %}">Выход</a>
				{% endif %}
				<a href="{% url 'registration_register' %}" {% block registration_class %}{% endblock %}>Регистрация</a>
			</div>
		</ul>
		<div class="container">
		<div class="sidebar">
			<ul>
				<li><a href="/" {% block index_class_ %}{% endblock %}>Home</a></li>
				<li><a href="{% url 'rings' %}" {% block rings_class_ %}{% endblock %}>Rings</a></li>
				<li><a href="{% url 'earrings' %}" {% block earrings_class_ %}{% endblock %}>Earrings</a></li>
				<li><a href="{% url 'pendants' %}" {% block pendants_class_ %}{% endblock %}>Pendants</a></li>
			</ul>
		</div>
			<div class="content">
				{% block content %}

				{% endblock content %}
			</div>
		</div>
		<script type="text/javascript">
function clock() {
var d = new Date();
var month_num = d.getMonth()
var day = d.getDate();
var hours = d.getHours();
var minutes = d.getMinutes();
var seconds = d.getSeconds();

month=new Array("января", "февраля", "марта", "апреля", "мая", "июня",
"июля", "августа", "сентября", "октября", "ноября", "декабря");

if (day <= 9) day = "0" + day;
if (hours <= 9) hours = "0" + hours;
if (minutes <= 9) minutes = "0" + minutes;
if (seconds <= 9) seconds = "0" + seconds;

date_time = "Сегодня - " + day + " " + month[month_num] + " " + d.getFullYear() +
" г.&nbsp;&nbsp;&nbsp;Текущее время - "+ hours + ":" + minutes + ":" + seconds;
if (document.layers) {
 document.layers.doc_time.document.write(date_time);
 document.layers.doc_time.document.close();
}
else document.getElementById("doc_time").innerHTML = date_time;
 setTimeout("clock()", 1000);
}
</script>
<span id="doc_time">
 Дата и время
</span>
<script type="text/javascript">
 clock();
</script>
	</div>
</body>
</html>