{% extends "base.html" %}

{% block earrings_class %} class="active" {% endblock %}

{% block earrings_class_ %} class="active" {% endblock %}

{% load comments %}


{% block content %}
				

			<div>
				<ul>
					<div class="pagination">
    					<span class="step-links">
        					{% if earrings.has_previous %}
            				<a href="?page={{ earrings.previous_page_number }}">previous</a>
        					{% endif %}

        					<span class="current">
            					Page {{ earrings.number }} of {{ earrings.paginator.num_pages }}.
        					</span>

        					{% if earrings.has_next %}
            				<a href="?page={{ earrings.next_page_number }}">next</a>
        					{% endif %}
    					</span>
					</div>
	
					{% for earring in earrings %}
					<li>
						<table cellpadding="3" style="border: 1px solid; width:400px; margin:0 0 10px">
							<tr>
								<td>Фото:</td>
								<td>Название:</td>
								<td>Пол:</td>
								<td>Вес:</td>
							</tr>
							<tr>	
								<td><img src="{{ earring.image.url }}" class = "image_ring"></td>
								<td>{{earring.name}}</td>
								<td>{{earring.type_earrings }}</td>
								<td>{{ earring.weigth }}</td>
							</tr>
							<tr>
							</tr>
								<td>
									<div id="accordion">
  										<h3>Комментарий</h3>
												  <div>
												    <!-- <p> -->
												    	{% get_comment_form for earring as form %}
														{% include "comments/form.html" %}

														{% get_comment_list for earring as comment_list %}
													<!-- </p> -->
												  </div>
														{% for comment in comment_list %}
														{{ comment.user_name }}: {{ comment.comment }}

														{% endfor %}
									<!-- <div>{% get_comment_form for earring as form %}
						{% include "comments/form.html" %}

									{% get_comment_list for earring as comment_list %}
									{% for comment in comment_list %}
									{{ comment.user_name }}: {{ comment.comment }}

									{% endfor %}
									</div> -->
								</td>
						</table>
						<!-- <table>
						  <form action="{% comment_form_target %}" method="post">
						    {% csrf_token %}
						    {{ form }}
						    <tr>
						      <td colspan="2">
						        <input type="submit" name="submit" value="Post">
						        <input type="submit" name="preview" value="Preview">
						      </td>
						    </tr>
						  </form>
						</table> -->
					</li>
					{% endfor %}
				</ul>	
			</div>
{% endblock content %}