{% extends "base.html" %}

{% block earrings_class %} class="active" {% endblock %}

{% block earrings_class_ %} class="active" {% endblock %}


{% block content %}
			<div>
				<ul>
					{% for earring in earrings %}
					<li>
						<table cellpadding="3" style="border: 1px solid; width:400px; margin:0 0 10px">
							<tr>
								<td>Фото:</td>
								<td>Название:</td>
								<td>Пол:</td>
								<td>Вес:</td>
							</tr>
							<tr>	
								<td><img src="{{ earring.image.url }}" class = "image_ring"></td>
								<td>{{earring.name}}</td>
								<td>{{earring.type_earrings }}</td>
								<td>{{ earring.weigth }}</td>
							</tr>
						</table>
					</li>
					{% endfor %}
				</ul>	
			</div>
{% endblock content %}