{% extends "base.html" %}

{% block enter_class %} class="active" {% endblock %}


{% block content %}
			<form method='post' action="{% url 'login' %}">
				{% csrf_token %}
				<p><input type="text" value="login" onFocus="if(this.value=='login') this.value='';" onBlur="if(!this.value) this.value='login';"></p>
				<p><input type="password" value="password" onFocus="if(this.value=='password') this.value='';" onBlur="if(!this.value) this.value='password';"></p>
				<p><input type="submit" value="login"></p>
			</form>
{% endblock content %}		