{% extends "base.html" %}


{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
			<div style="width: 250px; margin:0 auto">
				<h3>Обратная связь</h3>
				<form action="{% url 'feedback'%}" method="POST">
					{% csrf_token %}
					{{form}}
					<!-- <label for="id_name">Name:</label>
					<input id="id_name" type="text" name="name">
					<label for="id_email">Email:</label>
					<input id="id_email" type="text" name="email">
					<label for="id_text">Text:</label>
					<textarea id="id_text" rows="10" name="text" cols="40"></textarea> -->
					<input type='submit' value="send">
				</form>	
			</div>
{% endblock content %}