{% extends "base.html" %}

{% block rings_class %} class="active" {% endblock %}

{% block rings_class_ %} class="active" {% endblock %}

{% block content %}
			<div>
				<ul>
					{% for ring in rings %}
					<li>
						<table cellpadding="3" style="border: 1px solid; width:400px;">
							<tr>
								<td>Фото:</td>
								<td>Название:</td>
								<td>Пол:</td>
								<td>Вес:</td>
							</tr>
							<tr>	
								<td><img src="{{ ring.image.url }}" class = "image_ring"></td>
								<td>{{ring.name}}</td>
								<td>{{ring.sex }}</td>
								<td>{{ ring.weigth }}</td>
							</tr>
						</table>
					</li>
					{% endfor %}
				</ul>	
			</div>
{% endblock content %}