body{
	font: 16px/18px Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
}
.wrapper {
	background: #ccc;
	padding: 0 0 10px;
	margin: 0;
}
.main_menu{
	list-style: none;
	background: #000;
	overflow: hidden;
	margin: 0;
}
.main_menu li{
	font-size: 16px;
	float: left;
	margin: 0 0 0 10px;
	padding: 10px 0;
}
.main_menu a{
	color: blue;
	text-decoration: none;
}
.content{
	
	width: 680px;
	margin: 0;
	padding: 20px 0 20px; 
	overflow: hidden;
	text-align: center;
	border-left: 1px solid #000;
}
.content a{
	text-decoration: none;
}
.content li{
	list-style: none;
}
.content a:hover{
	text-decoration: underline;
}
 .main_menu .active{
	color:#fff;
}
.active{
	color:#fff;
}
.container{
	width: 900px;
	margin: 10px auto;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	overflow: hidden;
}
.sidebar{
	float: left;
	width: 200px;
	overflow: hidden;
}
.sidebar ul{
	list-style: none;
}
.sidebar ul li{
	margin: 10px 0 0;
}
.sidebar a{
	text-decoration: none;
}
.right{
	font-size: 12px;
	float: right;
	margin: 10px 15px 0 0;
}
.right a{
	margin: 0 10px 0 0;
}
.right a:hover{
	text-decoration: underline;
}
.block_form{
	margin: 10px 30px;
	overflow: hidden;
}
.form_p{
	float: left;
}
.form_p p{
	margin: 2px 0 18px;
}
.form_form{
	float: left;
}
.image{
	margin: 20px auto;
	width: 800px;
	height: 1000px;
}
.image img{
	width: 800px;
	height: 1000px;
}
img{
	text-align: top;
	width: 260px;
	height: 390px;
	margin: 10px;
}
h3{
	margin: 0 0 10px 10px;
}
p{
	margin: 0 0 10px 10px;
}
.form{
	width: 255px;
	overflow: hidden;
	margin: 10px auto;
}